.back-link {
    display: block;
    margin: 2rem 0 0 0;
    text-transform: uppercase;
    font-size: 1rem;
    color: rebeccapurple;
  }
  
  .back-link:hover {
    font-weight: bold;
    color: palevioletred;
  }