.form-cards {
    background: linear-gradient(-45deg, var(--main-color), var(--main-color-light));
    color: white;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
  }
  
  .form-cards p {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .form-cards input, .form-cards select {
    background-color: white;
    margin-top: 5px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    max-width: 500px;
  }
  